{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
{% endblock %}

{% block body %}
<section class="container py-3 py-md-5 mt-2">
    <h1>Diretoria de Recursos Humanos</h1>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="8000">

        <!-- Slides -->
        <div class="carousel-inner">
            <!-- Slide 1 with all cards -->
            <div class="carousel-item active">
                <div class="card-group text-center">
                    <div class="card text-center text-bg-info">
                        <a href="#" class="nav-link active" data-bs-toggle="modal" data-bs-target="#dynamicModal"
                           data-card="QOABM">
                            <div class="card-header">
                                <strong class="card-title">Efetivo Total</strong>
                            </div>
                            <div class="card-body">
                                <h2>{{ efetivo_total }}</h2>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a class="nav-link active" aria-current="page" href="#">
                            <div class="card-header">
                                <strong class="card-title">QOBM</strong>
                            </div>
                            <div class="card-body">
                                <h2>{{ qobm }}</h2>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a class="nav-link active" aria-current="page" href="#">
                            <div class="card-header">
                                <strong class="card-title">QOABM</strong>
                            </div>
                            <div class="card-body">
                                <h2>{{ qoabm }}</h2>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a class="nav-link active" aria-current="page" href="#">
                            <div class="card-header">
                                <strong class="card-title">QCOBM Médico</strong>
                            </div>
                            <div class="card-body">
                                <h2>{{ qcobm_medico }}</h2>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a class="nav-link active" aria-current="page" href="#">
                            <div class="card-header">
                                <strong class="card-title">QCOBM Enfermeiro</strong>
                            </div>
                            <div class="card-body">
                                <h2>{{ qcobm_enfermeiro }}</h2>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a class="nav-link active" aria-current="page" href="#">
                            <div class="card-header">
                                <strong class="card-title">QCOBM Dentista</strong>
                            </div>
                            <div class="card-body">
                                <h2>{{ qcobm_dentista }}</h2>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a class="nav-link active" aria-current="page" href="#">
                            <div class="card-header">
                                <strong class="card-title">QCOBM Assistente Social</strong>
                            </div>
                            <div class="card-body">
                                <h2>{{ qcobm_assistente_social }}</h2>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a class="nav-link active" aria-current="page" href="#">
                            <div class="card-header">
                                <strong class="card-title">QCOBM Farmacêutico</strong>
                            </div>
                            <div class="card-body">
                                <h2>{{ qcobm_farmaceutico }}</h2>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="card-group text-center">
                    <div class="card">
                        <a class="nav-link active" aria-current="page" href="#">
                            <div class="card-header">
                                <strong class="card-title">Praças Especiais QCOBM</strong>
                            </div>
                            <div class="card-body">
                                <h2>{{ qcobm_al_01 }}</h2>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a class="nav-link active" aria-current="page" href="#">
                            <div class="card-header">
                                <strong class="card-title">Praças Especiais QOBM</strong>
                            </div>
                            <div class="card-body">
                                <h2>{{ qobm_al_01 }}</h2>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a class="nav-link active" aria-current="page" href="#">
                            <div class="card-header">
                                <strong class="card-title">QPBM</strong>
                            </div>
                            <div class="card-body">
                                <h2>{{ qpbm }}</h2>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a class="nav-link active" aria-current="page" href="#">
                            <div class="card-header">
                                <strong class="card-title">QPEBM</strong>
                            </div>
                            <div class="card-body">
                                <h2>{{ qpebm }}</h2>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a class="nav-link active" aria-current="page" href="#">
                            <div class="card-header">
                                <strong class="card-title">QCPBM</strong>
                            </div>
                            <div class="card-body">
                                <h2>{{ qcpbm }}</h2>
                            </div>
                        </a>
                    </div>
                    <div class="card border-success" style="max-width: 18rem;">
                        <a class="nav-link active" aria-current="page" href="#">
                            <div class="card-header bg-transparent border-success">
                                <strong class="card-title">Militares de LM</strong>
                            </div>
                            <div class="card-body text-success">
                                <h2>{{ maternidade }}</h2>
                            </div>
                        </a>
                    </div>
                    <div class="card border-success" style="max-width: 18rem;">
                        <a class="nav-link active" aria-current="page" href="#">
                            <div class="card-header bg-transparent border-success">
                                <strong class="card-title">Militares de LE</strong>
                            </div>
                            <div class="card-body text-success">
                                <h2>{{ licenca_especial }}</h2>
                            </div>
                        </a>
                    </div>
                    <div class="card border-success" style="max-width: 18rem;">
                        <a class="nav-link active" aria-current="page" href="#">
                            <div class="card-header bg-transparent border-success">
                                <strong class="card-title">Militares de LTS</strong>
                            </div>
                            <div class="card-body text-success">
                                <h2>{{ lts }}</h2>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="card-group text-center">
                    <div class="card">
                        <a class="nav-link active" aria-current="page" href="#">
                            <div class="card-header">
                                <strong class="card-title">Militares Combatentes</strong>
                            </div>
                            <div class="card-body">
                                <h2>{{ militares_combatentes }}</h2>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a class="nav-link active" aria-current="page" href="#">
                            <div class="card-header">
                                <strong class="card-title">Militares da Saúde</strong>
                            </div>
                            <div class="card-body">
                                <h2>{{ militares_saude }}</h2>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a class="nav-link active" aria-current="page" href="#">
                            <div class="card-header">
                                <strong class="card-title">CBC</strong>
                            </div>
                            <div class="card-body">
                                <h2>{{ cbc }}</h2>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a class="nav-link active" aria-current="page" href="#">
                            <div class="card-header">
                                <strong class="card-title">CBI</strong>
                            </div>
                            <div class="card-body">
                                <h2>{{ cbi }}</h2>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a class="nav-link active" aria-current="page" href="#">
                            <div class="card-header">
                                <strong class="card-title">OFC. Superiores</strong>
                            </div>
                            <div class="card-body">
                                <h2>{{ oficiais_superiores }}</h2>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a class="nav-link active" aria-current="page" href="#">
                            <div class="card-header">
                                <strong class="card-title">OFC. Intermediários</strong>
                            </div>
                            <div class="card-body">
                                <h2>{{ oficiais_intermediarios }}</h2>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a class="nav-link active" aria-current="page" href="#">
                            <div class="card-header">
                                <strong class="card-title">OFC. Subalternos</strong>
                            </div>
                            <div class="card-body">
                                <h2>{{ oficiais_subalternos }}</h2>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a class="nav-link active" aria-current="page" href="#">
                            <div class="card-header">
                                <strong class="card-title">Praças</strong>
                            </div>
                            <div class="card-body">
                                <h2>{{ pracas }}</h2>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="card-group text-center">
                    <div class="card">
                        <a class="nav-link active" aria-current="page" href="#">
                            <div class="card-header">
                                <strong class="card-title">À Disposição</strong>
                            </div>
                            <div class="card-body">
                                <h2>{{ a_disposicao }}</h2>
                            </div>
                        </a>
                    </div>
                    <div class="card text-center">
                        <a class="nav-link active" aria-current="page" href="#">
                            <div class="card-header">
                                <strong class="card-title">Agregados Total</strong>
                            </div>
                            <div class="card-body">
                                <h2>{{ agregados_total }}</h2>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a class="nav-link active" aria-current="page" href="#">
                            <div class="card-header">
                                <strong class="card-title">Agregados/LTS</strong>
                            </div>
                            <div class="card-body">
                                <h2>{{ agregados_lts }}</h2>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a class="nav-link active" aria-current="page" href="#">
                            <div class="card-header">
                                <strong class="card-title">Agregados/RR</strong>
                            </div>
                            <div class="card-body">
                                <h2>{{ agregados_rr }}</h2>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a class="nav-link active" aria-current="page" href="#">
                            <div class="card-header">
                                <strong class="card-title">Agregados</strong>
                            </div>
                            <div class="card-body">
                                <h2>{{ agregados }}</h2>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Slide 2 (Placeholder) -->
            <div class="carousel-item">
                <div class="mt-3">
                    <h3>Militares de Licença Especial</h3>
                    <div class="table-responsive">
                        <table id="example" class="table table-light table-bordered table-striped" style="width:100%">
                            <thead class="table-info">
                            <tr>
                                <th>Posto/Graduação</th>
                                <th>Quadro</th>
                                <th class="col-nome_completo">Nome Completo</th>
                                <th>Destino</th>
                                <th>Situação</th>
                                <th>A contar de</th>
                                <th>Término</th>
                                <th>Status da Licença</th>
                                <th>Documento Autorizador</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for militar in militares_le %}
                            <tr class="table-active">
                                <td>{{ militar.posto_grad.sigla }}</td>
                                <td>{{ militar.quadro.quadro }}</td>
                                <td>
                                    <a href="{{ url_for('exibir_militar', militar_id=militar.militar_id) }}">
                                        {{ militar.militar.nome_completo }}
                                    </a>
                                </td>
                                <td>{{ militar.destino.local }}</td>
                                <td>{{ militar.situacao.condicao }}</td>
                                <td>{{ militar.inicio_periodo_le.strftime('%d/%m/%Y') }}</td>
                                <td>{{ militar.fim_periodo_le.strftime('%d/%m/%Y') }}</td>
                                <td>
                        <span style="background-color:
                            {% if militar.status == 'Vigente' %}
                                lightgreen
                            {% elif militar.status == 'Término da Licença Especial' %}
                                lightcoral
                            {% else %}
                                transparent
                            {% endif %}; padding: 5px;">
                            {{ militar.status }}
                        </span>
                                </td>
                                <td>{{ militar.publicacao_bg.boletim_geral }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Slide 3 (Placeholder) -->
            <div class="carousel-item">
                <div class="mt-3">
                    <h3>Militares de Licença para Tratamento de Saúde</h3>
                    <div class="table-responsive">
                        <table id="example" class="table table-light table-bordered table-striped" style="width:100%">
                            <thead class="table-info">
                            <tr>
                                <th>Posto/Graduação</th>
                                <th>Quadro</th>
                                <th class="col-nome_completo">Nome Completo</th>
                                <th>Destino</th>
                                <th>Situação</th>
                                <th>A contar de</th>
                                <th>Término</th>
                                <th>Status da Licença</th>
                                <th>Documento Autorizador</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for militar in militares_lts %}
                            <tr class="table-active">
                                <td>{{ militar.posto_grad.sigla }}</td>
                                <td>{{ militar.quadro.quadro }}</td>
                                <td>
                                    <a href="{{ url_for('exibir_militar', militar_id=militar.militar_id) }}">
                                        {{ militar.militar.nome_completo }}
                                    </a>
                                </td>
                                <td>{{ militar.destino.local }}</td>
                                <td>{{ militar.situacao.condicao }}</td>
                                <td>{{ militar.inicio_periodo_lts.strftime('%d/%m/%Y') }}</td>
                                <td>{{ militar.fim_periodo_lts.strftime('%d/%m/%Y') }}</td>
                                <td>
                                    <span style="background-color:
                                        {% if militar.status == 'Vigente' %}
                                            lightgreen
                                        {% elif militar.status == 'Término da Licença para Tratamento de Saúde' %}
                                            lightcoral
                                        {% else %}
                                            transparent
                                        {% endif %}; padding: 5px;">
                                        {{ militar.status }}
                                    </span>
                                </td>
                                <td>{{ militar.publicacao_bg.boletim_geral }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
